/* 
*Identité :
    Ohmyfood! est une entreprise de commande de repas en ligne. Notre concept permet aux
    utilisateurs de composer leur propre menu et réduire leur temps d’attente dans les
    restaurants car leur menu est préparé à l’avance. Plus de perte de temps à consulter la carte
    !

* Couleurs :
    ● Primaire: #9356DC
    ● Secondaire: #FF79DA
    ● Tertiaire: #99E2D0

*Polices :
    ● Logo et titres: Shrikhand
    ● Texte: Roboto

*Footer :
    ● Le footer est identique sur toutes les pages.
    ● Au clic sur “Contact”, un renvoi vers une adresse mail est effectué.

*Header :
    ● Le header est présent sur toutes les pages.
    ● Sur la page d’accueil, il contient le logo du site.
    ● Sur les pages de menu, il contient en plus un bouton de retour vers la page d’accueil

*Boutons :
    ● Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
        L’ombre portée devra également être plus visible.
    ● À terme, les visiteurs pourront sauvegarder leurs menus préférés. Pour ça, un
        bouton "J’aime" en forme de cœur est présent sur la maquette. Au clic, il devra se
        remplir progressivement. Pour cette première version, l’effet peut être apparaître au
        survol sur desktop au lieu du clic.

*Page d’accueil :
    ● Quand l’application aura plus de menus, un “loading spinner” sera nécessaire. Sur
    cette maquette, nous souhaitons en avoir un aperçu. Il devra apparaître pendant 1 à
    3 secondes quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran, et
    utiliser les animations CSS (pas de librairie). Le design de ce loader n’est pas défini,
    toute proposition est donc la bienvenue tant qu’elle est cohérente avec la charte
    graphique du site.

*Pages de menu :
    ● À l’arrivée sur la page, les plats devront apparaître progressivement avec un léger
        décalage dans le temps. Ils pourront soit apparaître un par un, soit par groupe
        “Entrée”, “Plat” et “Dessert”. Un exemple de l’effet attendu est fourni.
    ● Le visiteur peut ajouter les plats qu'il souhaite à sa commande en cliquant dessus.
        Cela fait apparaître une petite coche à droite du plat. Cette coche devra coulisser de
        la droite vers la gauche. Pour cette première version, l’effet peut apparaître au survol
        sur desktop au lieu du clic. Si l’intitulé du plat est trop long, il devra être rogné avec
        des points de suspension. Un exemple de l’effet attendu est fourni.

*/

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Shrikhand';
    src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
}

body h2 {
    font-family: 'Roboto-Bold';
}

.logo__title {
    font-family: 'Shrikhand';
    font-size: 2em;
    text-align: center;
    margin: 15px;
}

.local {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: rgb(238, 238, 238);
    box-shadow: inset 0px 3px 7px -2px rgb(168, 168, 168);
}

.local img {
    width: 12px;
    margin-right: 15px;
    margin-top: -5px;
}

.local p, .explore a, .list p {
    font-family: 'Roboto-Medium';
}

.explore {
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 65px;
}

.explore h2 {
    font-size: 1.5em;
    margin: 10px;
}

.explore h3 {
    font-family: 'Roboto-Light';
    font-size: 1em;
    margin-bottom: 50px;
}

.explore h3, .explore h2 {
    line-height: 1.2em;
}

.explore a {
    text-decoration: none;
    padding: 15px;
    border: none; 
    border-radius: 30px; 
    background: linear-gradient(#9356DC, #FF79DA);
    color: #fff;
    box-shadow: 4px 4px 10px 2px #c2c2c2;
    transition: 0.3s;
}

.explore a:hover {
    box-shadow: 4px 4px 8px 5px #b1b1b1;
    background: linear-gradient(#b172ff, #ff8bde);
}

.working {
    border: solid;
    padding: 50px 0px 50px 0px;
}

.working h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0px 0px 25px 20px;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list img {
    width: 15px;
}

.list .ellipsis {
    width: 6px;
}

list__flex--choice {
    display: flex;
}

.list .flex::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
}