body{
}
.select{
}
.select .resto{
    border: solid;
    width: 100%;
}

.zone{
    display: flex;
}
.photo img{
    width: 100%;
    height: 175px;
    object-fit: cover;
}
.link .txt{
    border: solid;
}
.heart img{
    border: solid;
    width: 25px;
}