header .logo{
    text-align: center;
}
header .position img{
    width: 13px;
    margin-right: 15px;
}
header .position{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
}
header .subtitle{
    background-color: #F6F6F6;
}
header .title{
    text-align: center;
}
header .title2{
    text-align: center;
}
header button{
    display: block;
    margin: auto;
    border: none;
    border-radius: 25px;
    width: 230px;
    height: 50px;
    background: linear-gradient(pink, purple);
}   
header.bouton{
    align-self: center;
}
nav ul{
    list-style: none;
}
nav .link{
    display: flex;
    text-decoration: none;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 10px 10px 5px #EAEAEA;
    color: #000;
}
nav .link .bulle{
    margin-right: 15px;
    background-color: #9356DC;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin-top: 13px;
    color: #fff;
}
nav .link .imgFlex{
    display: flex;
    width: 15px;
}
.imgFlex .points{
    width: 7px;
}
nav .link p{
    margin-left: 15px;
}

.select{
}
.select .resto{
    width: 100%;
}

.zone{
    display: flex;
}
.photo img{
    width: 100%;
    height: 175px;
    object-fit: cover;
}
.link .txt{
}
.heart img{
    width: 25px;
}