body{
    margin: 0;
    padding: 0;
}

header .logo{
    text-align: center;
    margin: 20px;
}
header #infoposition img{
    width: 13px;
    margin-right: 15px;
}
header #infoposition{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    box-shadow: inset #383636 0px 1px 5px 0px ;
}
header .subtitle{
    background-color: #F6F6F6;
    font-family: 'Roboto';
    padding-top: 15px;
    padding-bottom: 50px;
}
header .title{
    text-align: center;
}
header .title2{
    text-align: center;
}
header button{
    display: block;
    margin: auto;
    border: none;
    border-radius: 25px;
    width: 230px;
    height: 50px;
    background: linear-gradient(pink, purple);
}   
header.bouton{
    align-self: center;
}
nav ul{
    list-style: none;
}
nav .link{
    display: inline-block;
    text-decoration: none;
    width: 250px;
    height: 65px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    box-shadow: 1px 10px 10px 5px #EAEAEA;
    color: #000;
}
nav .link .bulle{
    margin-right: 15px;
    background-color: #9356DC;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin-top: 13px;
    color: #fff;
}
nav .link .imgFlex{
    display: flex;
    width: 15px;
}
.imgFlex .points{
    width: 7px;
}
nav .link p{
    margin-left: 15px;
}

.select{
    background-color: #EAEAEA;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}
.select .resto{
    width: 90%;
    border-radius: 25px;
    background-color: #fff;
    margin: 18px;
}

.photo img{
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.zone{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
a{
    text-decoration: none;
}
.heart img{
    width: 25px;
}
footer{
    background-color: #383636;
    padding-bottom: 35px;
}
footer img{
    width: 100px;
    margin: 15px;
}
footer .symb img{
    width: 15px;
    margin-bottom: 0;
}
footer a{
    display: flex;
    color: #fff;
}
footer .mentions{
    margin-left: 15px;
    margin-top: 0;
}